{% extends 'shared/base.html' %}

{% block content %}

    <h1>Inventory Computer</h1>
        <form action="{% url 'hrapp:computer_form' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="manuacturer">Manufacturer: </label>
            <input id="manuacturer" type="text" name="manuacturer" value="{{ computer.manuacturer }}">
        </fieldset>
        <fieldset>
            <label for="author">Author: </label>
            <input id="author" type="text" name="author" value="{{ book.author }}">
        </fieldset>
        <fieldset>
            <label for="year_published">Year of publication: </label>
            <input id="year_published" type="number" name="year_published" value="{{ book.year_published }}">
        </fieldset>
        <fieldset>
            <label for="ISBN">ISBN: </label>
            <input id="ISBN" type="text" name="ISBN" value="{{ book.ISBN }}">
        </fieldset>
        <fieldset>
            <label for="location">Library: </label>
            <select id="location" type="text" name="location">
                {% for library in all_libraries %}
                <option {% if library.id == book.location_id %}selected{% endif %} value="{{ library.id }}">
                    {{ library.title }}</option>
                {% endfor %}
            </select>
        </fieldset>

        {% if book.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}

    </form>

{% endblock %}